# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/
*.egg

# Node
node_modules/
frontend/dist/
frontend/.angular/

# Environment
.env
*.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# Docker
docker-compose.override.yml

# OS
.DS_Store
Thumbs.db

# MLflow
mlruns/

# Kubernetes
*.kubeconfig
